doctype html
html
  head
    meta(charset='UTF-8')
    title #{topic.title} | Teach For Kenya
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset="utf-8")
    meta(name='description', content='')
    meta(name='keywords', content='')
    link(rel='shortcut icon', type='image/x-icon', href='/icon.jpg')
    link(rel='stylesheet', type='text/css', href='/learner/css/animate.css')
    link( rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    link(rel='stylesheet', type='text/css', href='/learner/css/line-awesome.css')
    link(rel='stylesheet', type='text/css', href='/learner/css/line-awesome-font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/learner/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/learner/css/jquery.mCustomScrollbar.min.css')
    link(rel='stylesheet', type='text/css', href='/learner/lib/slick/slick.css')
    link(rel='stylesheet', type='text/css', href='/learner/lib/slick/slick-theme.css')
    //link(rel='stylesheet', type='text/css', href='/learner/css/style.css')
    link(rel='stylesheet', type='text/css', href='/learner/css/responsive.css')
    
    style.
       
       .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        }
        @media (max-width: 768px) 
        { 

        img {
            max-width: 100%;
            height: auto;
        }
        iframe
        {
          max-width: 100%;
          max-height: 100%;
        }
        
        }
        
        

        .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        .container1 {
        padding: 2px 16px;
        }
        #module {
            float: left;
            width: 100%;
            color: #000000;
            font-size: 14px;
            text-transform: capitalize;
            padding: 15px 0;
            border-top: 1px solid #ececec;
            font-weight: 600;
            margin-bottom:5px;
            margin-top:5px
        }
        #module:hover {
            background-color:  #c10000;
            color: #fff;
        }
        .collapsible {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

       /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active, .collapsible:hover {
            background-color: #ccc;
        }

       /* Style the collapsible content. Note: hidden by default */
        .content {
            padding: 10px 18px;
            display: none;
            overflow: hidden;
            background-color: white;
        }
        p { margin: 0; }
        .acc-leftbar {
          float: left;
          width: 100%;
          background-color: #fff;
          border-left: 1px solid #e5e5e5;
          border-bottom: 1px solid #e5e5e5;
          border-right: 1px solid #e5e5e5;
           border-top: 1px solid #e5e5e5;
        }
        .acc-leftbar .nav-tabs > a {
          float: left;
          width: 100%;
          background: none;
          padding: 18px 20px;
          border-bottom: 1px solid #e5e5e5;
          border-left: 0;
          border-right: 0;
          color: #000000;
          font-size: 16px;
          font-weight: 600;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          border-radius: 0;
          border-top: 0;
        }
        .nav-tabs {
          border-bottom: 0;
        }
        .acc-leftbar .nav-tabs > a:last-child {
          border-bottom: 0;
        }
        .acc-leftbar .nav-tabs > a i {
          padding-right: 15px;
          font-size: 20px;
          position: relative;
          top: 2px;
          font-weight: 700;
          width: 40px;
        }
       
  body
    .wrapper
     
        .container-fluid
                
          
                  
                        .container-fluid(style='margin-top:40px')
                            .row
                              .col-lg-2
                                .acc-leftbar(style='box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);')
                                  #nav-tab.nav.nav-tabs(role='tablist')
                                    
                                    
                                    
                                    
                                
                                    a.nav-item.nav-link( href='/view_module/#{course.id}/#nav-content', aria-controls='nav-password', aria-selected='false')
                                      i.fa.fa-arrow-left
                                      | Go back
                              .col-lg-10
                                    
                           
                                  
                                  div(style='background-color: #c10000;border-color: #c10000;padding:20px;margin:0px')
                                       
                                       h3(style='color:white;font-weight:bold;font-size:0.9em') 
                                        a(href="/dashboard",style='color:white') Dashboard 
                                        | / 
                                        if course.module_title !==''
                                         a(href="/view_module/#{course.module_id}" style='color:white') #{course.module_title}  / 
                                         
                                        a(href="/view_module/#{course.id}" style='color:white')   #{course.title} /  
                                        | #{week.title} / #{topic.title}
                                  .card(style='margin-bottom:80px')
                                    .row(style='margin-top:10px;margin-left:2px;margin-right:2px')
                                     .col-md-12
                                       if complete ===true
                                          a(href="/complete_week/#{course.id}/#{week.id}/#{topic.id}",style='float:right;background-color:gray;color:white').btn.btn-default Complete
                                       if complete === false
                                        a(href="/topic_next/#{course.id}/#{week.id}/#{topic.id}",style='float:right;background-color:gray;color:white').btn.btn-default Next
                                       a(href="/topic_previous/#{course.id}/#{week.id}/#{topic.id}",style='float:left;background-color:gray;color:white').btn.btn-default Previous
                                    .row
                                     .col-md-12
                                        if topic.type === 'Read' || topic.type === 'Watch'
                                          if topic.description === ''
                                           div(style='text-align:center')
                                            p No content found.
                                          if topic.description  !== ''
                                            div(style='padding:20px 20px 20px 20px')
                                              !{topic.description}
                                        if topic.type === 'Do'
                                            div(style='padding:20px 20px 20px 20px')
                                             != messages('message', locals) 
                                             form(action="/answer/#{course.id}/#{week.id}/#{topic.id}",method='POST')
                                              !{topic.questions[0].html}
                                              br
                                              button.btn.btn-danger  Submit
                                    .row(style='margin-top:10px;margin-left:2px;margin-right:2px;margin-bottom:10px')
                                     .col-md-12
                                      if complete ===true
                                          a(href="/complete_week/#{course.id}/#{week.id}/#{topic.id}",style='float:right;background-color:gray;color:white').btn.btn-default Complete
                                      if complete === false
                                        a(href="/topic_next/#{course.id}/#{week.id}/#{topic.id}",style='float:right;background-color:gray;color:white').btn.btn-default Next
                                      a(href="/topic_previous/#{course.id}/#{week.id}/#{topic.id}",style='float:left;background-color:gray;color:white').btn.btn-default Previous
                                      
                                       
                                      
                               
                                            
                                  
                     
    // theme-layout end
    script(type='text/javascript' src='/learner/js/jquery.min.js')
    script(type='text/javascript' src='/learner/js/popper.js')
    script(type='text/javascript' src='/learner/js/bootstrap.min.js')
    script(type='text/javascript' src='/learner/js/jquery.mCustomScrollbar.js')
    script(type='text/javascript' src='/learner/lib/slick/slick.min.js')
    script(type='text/javascript' src='/learner/js/scrollbar.js')
    script(type='text/javascript' src='/learner/js/script.js')
    script.
        var coll = document.getElementsByClassName("collapsible");
        var i;
        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
        content.style.display = "none";
        } else {
        content.style.display = "block";
        }
        });
        }
   
    script.
                        var url = document.location.toString();
                        if(url.match('#'))
                        {
                          $('.nav-tabs a[href="#'+url.split('#')[1]+'"]').tab('show');

                        }
                        $('.nav-tabs a').on('shown.bs.tab',function(e){
                          window.location.hash = e.target.hash;
                        })
