doctype html

html
  head
    title #{cohort.title} - Reading List | Teach For Kenya LMS
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(name='keywords' content='')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    link(href='/administrator/css/bootstrap.min.css' rel='stylesheet' type='text/css')
    link(rel='shortcut icon', type='image/x-icon', href='/icon.jpg')
    link(href='/administrator/css/style.css' rel='stylesheet' type='text/css')
    link(href='/administrator/css/font-awesome.css' rel='stylesheet')
    script(src='/administrator/js/jquery.min.js')
    script(src='/administrator/js/bootstrap.min.js')
    script(src='/administrator/js/jquery.metisMenu.js')
    script(src='/administrator/js/jquery.slimscroll.min.js')
    // Custom and plugin javascript
    link(rel='stylesheet' href='/administrator/css/swipebox.css')
    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css")
    link(href='/administrator/css/custom.css' rel='stylesheet')
    script(src='/administrator/js/custom.js')
    script(src='/administrator/js/screenfull.js')
    script.
      $(function () {
      $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);
      if (!screenfull.enabled) {
      return false;
      }
      $('#toggle').click(function () {
      screenfull.toggle($('#container')[0]);
      });
      });
    style.
     .table thead tr th {
        padding: 15px !important;
        font-size: 0.85em;
        color: black;
        font-weight:bolder;
        border-top: none !important;
     }
     .nav  li  a {
            color: black;
            font-weight: 500;
            padding: 0px 20px 0px 0px;
            font-size: 0.85em;
            border-bottom: 1px solid #E9E9E9;
     }
     .nav-item
     {
         border-right:1px solid gray
     }
     #file
     {
       display:none
     }
     #link
     {
       display:none
     }
    
     .table tbody tr td {
        padding: 15px !important;
        font-size: 0.85em;
        color: black;
       
        border-top: none !important;
     }
   
  body
    #wrapper
      // -
      nav.navbar-default.navbar-static-top(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          h1
            a.navbar-brand(href='/administrator/cohort/#{cohort.id}') 
             img(src="/icon.jpg",width='80px', alt="")
        .border-bottom
          .full-left
           
         
          .drop-men
            ul.nav_1
              
              li.dropdown
                a.dropdown-toggle.dropdown-at(href='#' data-toggle='dropdown')
                  span.name-caret
                    | #{user.username}
                    
                  img(src='/user.png',width='60px')
              
          // /.navbar-collapse
          .clearfix
          .navbar-default.sidebar(role='navigation')
            .sidebar-nav.navbar-collapse
              ul#side-menu.nav
                li
                  a.hvr-bounce-to-right(href='/administrator/cohort/#{cohort.id}')
                    i.fa.fa-dashboard.nav_icon
                    span.nav-label Dashboard
                li
                  a.hvr-bounce-to-right(href='#')
                    i.fa.fa-users.nav_icon
                    span.nav-label Fellows
                    span.fa.arrow
                  ul.nav.nav-second-level
                    li
                      a.hvr-bounce-to-right(href='/administrator/add_fellow/#{cohort.id}')
                        i.fa.fa-plus.nav_icon
                        | Add Fellow
                    li
                      a.hvr-bounce-to-right(href='/administrator/view_fellows/#{cohort.id}')
                        i.fa.fa-eye.nav_icon
                        | View Fellows
                    li
                      a.hvr-bounce-to-right(href='/administrator/view_bold_questions/#{cohort.id}')
                        i.fa.fa-question.nav_icon
                        | View Bold Questions
                    li
                      a.hvr-bounce-to-right(href='/administrator/view_kpis/#{cohort.id}')
                        i.fa.fa-list.nav_icon
                        | View KPI's
                   

              
                li
                  a.hvr-bounce-to-right(href='#')
                    i.fa.fa-folder-open-o.nav_icon
                    span.nav-label Modules
                    span.fa.arrow
                  ul.nav.nav-second-level
                    li
                      a.hvr-bounce-to-right(href='/administrator/add_module/#{cohort.id}')
                        i.fa.fa-plus.nav_icon
                        | Add Module
                    li
                      a.hvr-bounce-to-right(href='/administrator/view_modules/#{cohort.id}')
                        i.fa.fa-eye.nav_icon
                        | View Modules
                li
                  a.hvr-bounce-to-right(href='/administrator/reading_list/#{cohort.id}')
                    i.fa.fa-book.nav_icon
                    span.nav-label  Reading List
                li
                  a.hvr-bounce-to-right(href='/administrator/home')
                    i.fa.fa-arrow-left.nav_icon
                    span.nav-label  Back home
              
                li
                 
                
                  
                      a.hvr-bounce-to-right(href='/administrator/log_out')
                        i.fa.fa-sign-out.nav_icon
                        | Signout
      #page-wrapper.gray-bg.dashbard-1
        .content-main
          // banner
          div(style='margin: 1em 1em ;')
           != messages('message', locals)
          .banner
            h2
              a(href='#') Home
              i.fa.fa-angle-right
              span #{cohort.title}
              i.fa.fa-angle-right
              span Reading List
          if user.type === 'super admin' || user.type === 'content manager'
           div(style='margin: 1em 1em ;')
            button.btn.btn-primary(type='button' data-toggle='modal' data-target='#addnewarticle')
              i.fa.fa-plus
              &nbsp;
             
              | Add new article
            // Modal
            #addnewarticle.modal.fade(data-backdrop='static' data-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    h5#staticBackdropLabel.modal-title Add new article
                     button.close(type='button' data-dismiss='modal' aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    p To proceed, kindly choose one option
                    .custom-control.custom-radio.custom-control-inline(style='margin-top:15px')
                                          input#customRadioInline1.custom-control-input(type='radio', name='customRadioInline1',value='Link')
                                          &nbsp;
                                          label.custom-control-label(for='customRadioInline1')  Website link
                    .custom-control.custom-radio.custom-control-inline(style='margin-top:15px')
                                          input#customRadioInline2.custom-control-input(type='radio', name='customRadioInline1',value='File')
                                          &nbsp;
                                          label.custom-control-label(for='customRadioInline2')  Upload File

                                            
                    #file(style='text-align:left;margin-top:10px')
                        form(action='/administrator/reading_list_file/#{cohort.id}',method='POST',enctype='multipart/form-data')
                                        .form-group
                                          h5 Title*
                                          input.form-control(type='text', name='title', placeholder='Enter title',required)
                                        .form-group
                                          h5 Upload File
                                          input.form-control(type='file', name='file',accept='.doc , .docx, .dot, .pdf, .dotx, .txt',required)
                                        .form-group
                                              button(type='submit').btn.btn-primary Save
                    #link(style='text-align:left;margin-top:10px')
                                       form(action='/administrator/reading_list_link/#{cohort.id}',method='POST')
                                        .form-group
                                          h5 Title*
                                          input.form-control(type='text', name='title', placeholder='Enter title',required)
                                        .form-group
                                          h5 Website Link
                                          input.form-control(type='url', name='url', placeholder='Enter Website Url',required)
                                        .form-group
                                              button(type='submit').btn.btn-primary Save
                    
                  .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close

          
        
          .gallery
              // Table
              table.table.table-hover.table-bordered#example
                    thead
                        tr
                        
                            th(scope='col') Title
                            th(scope='col') Type
                            th(scope='col') By
                            th(scope='col') Date
                            th(scope='col') Actions

                    
                    tbody
                     if articles.length < 1
                      tr(style='text-align:center')
                       td(colspan='5') No articles found.
                     
                     if articles.length > 0
                      each article in articles
                       tr
                        td=article.title
                        td=article.type
                        td=article.by
                        td=article.date
                        td
                            
                            if article.type === 'file'
                              a(href=article.file, download, target='_blank', style='color:blue')
                                i.fa.fa-download(style='color:blue')
                                
                            if article.type === 'link'
                                a(href=article.url,target='_blank')
                                    i.fa.fa-link(style='color:blue')
                               
                            if user.type === 'super admin' || user.type ==='Content Manager'
                                &nbsp;
                                &nbsp;
                                a(href="/administrator/delete_article/#{cohort.id}/#{article.id}")
                                 i.fa.fa-trash(style='color:red')
                     
            
             
            
         
          .copy
            p
              | © #{year}. All Rights Reserved | Design by 
              a(href='https://onclickconsultants.com/' target='_blank') Onclick Consultants Ltd
      .clearfix  
    // 
   
    script(src='/administrator/js/jquery.swipebox.min.js')
    script(type='text/javascript').
      jQuery(function($) {
      $(".swipebox").swipebox();
      $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
      })
         $('#myTab a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
        })
         $('input[type=radio][name=customRadioInline1]').change(function() {
            if (this.value == 'File') {
                $('#link').hide()
                $('#file').show()
            }
            else if (this.value == 'Link') {
                 $('#link').show()
                $('#file').hide()
            }
        });
      });
    // scrolling js

    script(src='/administrator/js/jquery.nicescroll.js')
    script(src='/administrator/js/scripts.js')
    script(src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js")
    

    script.
      $(document).ready(function () {
           $('#example').DataTable();
        
      });
    
         
    script.
                        var due_date = document.getElementById('due_date').value
                        var deadline = new Date(due_date).getTime(); 
                        var x = setInterval(function() { 
                        var now = new Date().getTime(); 
                        var t = deadline - now; 
                        var days = Math.floor(t / (1000 * 60 * 60 * 24)); 
                        var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60)); 
                        var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60)); 
                        var seconds = Math.floor((t % (1000 * 60)) / 1000); 
                        document.getElementById("demo").innerHTML = days + " day(s) "  
                        
                            if (t < 0) { 
                                clearInterval(x); 
                                document.getElementById("demo").innerHTML = "EXPIRED"; 
                            } 
                        }, 1000); 
